<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>eRisk Assessment - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>  
        @Scripts.Render("~/bundles/jquery")
        <img src="/Images/bg.png" class="bg" alt="" />
        <div class="top">
            <div class="inner">     
                <div class="device phone">
                    <div class="frame">
                    </div>
                    <div class="content">
                        <img src="/Images/cont_phone_v2.png" alt="Google Currents on phone" /></div>
                </div>
                <div class="device tablet">
                    <div class="frame">
                    </div>
                    <div class="content">
                        <img src="/Images/cont_tablet_v2.png" alt="Library on Google Currents" /></div>
                </div>
                <div class="device ipad">
                    <div class="frame">
                    </div>
                    <div class="content">
                        <img src="/Images/cont_ipad_v2.png" alt="Google Currents on iPad" /></div>
                </div>
                <img src="/Images/logo.png" class="logo" alt="Google Currents" />
                <span class="logo-title"></span>
                <p class="lead">
                    Comprehensive risk assessments<br />
                    on your tablet and smartphone.</p>
                <div class="do-it-now downloads">
                    <button type="button" class="droid">
                        <b>Download</b> for <b>Android Devices</b>
                    </button>
                    <button type="button" class="ios">
                        <b>Download</b> for <b>iPad</b> and <b>iPhone</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="upper shadow">
        </div>
        @RenderBody()
        <div class="lower shadow">
        </div>
        <div class="bottom">
            <ul>
                <li><a href="/ContactUs">Contact Us</a></li>
                <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                <li><a href="/TermsAndConditions">Terms and Conditions</a></li>
                <li>&copy; Shortec, 2012</li>
            </ul>
        </div>
        <div class="modal">
            <div class="droid box">
                <div class="inner">
                    <a href="#" class="close"></a>
                    <p class="opt">
                        <span class="title">Option 1</span><br />
                        Scan this QR code with your Android phone or tablet
                        <img src="http://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;choe=UTF-8&amp;chs=108x108&amp;chl=https://play.google.com/store/apps/details?id=com.shortec.erisklite"
                            alt="" />
                    </p>
                    <p class="opt">
                        <span class="title">Option 2</span><br />
                        Download <b>eRisk Lite</b> from Google Play <a target="_blank" href="https://play.google.com/store/apps/details?id=com.shortec.erisklite">
                            <img src="http://www.android.com/images/brand/android_app_on_play_large.png" alt="" /></a>
                    </p>

                    <p class="opt">
                        <span class="title">Option 3</span><br />
                        Scan this QR code with your Android phone or tablet for the full paid version
                        <img src="http://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;choe=UTF-8&amp;chs=108x108&amp;chl=https://play.google.com/store/apps/details?id=com.shortec.erisk"
                            alt="" />
                    </p>
                    <p class="opt">
                        <span class="title">Option 4</span><br />
                        <b>Buy</b> the full version of <b>eRisk</b> from Google Play <a target="_blank" href="https://play.google.com/store/apps/details?id=com.shortec.erisk">
                            <img src="http://www.android.com/images/brand/android_app_on_play_large.png" alt="" /></a>
                    </p>
                </div>
            </div>
            <div class="ios box">
                <div class="inner">
                    <a href="#" class="close"></a>
                    <p class="opt">
                        <span class="title">Option 1</span><br />
                        Scan this QR code with your iPhone or iPad
                        <img src="http://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;choe=UTF-8&amp;chs=108x108&amp;chl=https://itunes.apple.com/gb/app/id591138558"
                            alt="" /></p>
                    <p class="opt">
                        <span class="title">Option 2</span><br />
                        Download <b>eRisk Lite</b> from the App Store <a target="_blank" href="https://itunes.apple.com/gb/app/id591138558">
                            <img src="/Images/appstore.png" alt="" /></a></p>
                    <p class="opt">
                        <span class="title">Option 1</span><br />
                        Scan this QR code with your iPhone or iPad for the full paid version
                        <img src="http://chart.apis.google.com/chart?cht=qr&amp;chld=|0&amp;choe=UTF-8&amp;chs=108x108&amp;chl=https://itunes.apple.com/gb/app/erisk-assessment/id590776194"
                            alt="" /></p>
                    <p class="opt">
                        <span class="title">Option 2</span><br />
                        <b>Buy</b> the full version <b>eRisk</b> from the App Store <a target="_blank" href="https://itunes.apple.com/gb/app/erisk-assessment/id590776194">
                            <img src="/Images/appstore.png" alt="" /></a></p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.do-it-now .droid').click(function () {
                    $('.modal').fadeIn(300, function () {
                        $('.droid.box').fadeIn('fast');
                    });
                    return false;
                });
                $('.do-it-now .ios').click(function () {
                    $('.modal').fadeIn(300, function () {
                        $('.ios.box').fadeIn('fast');
                    });
                    return false;
                });
                $('.box .close, .modal').click(function (event) {
                    if (event.target == this) {
                        $('.modal').fadeOut(300);
                        $('.droid.box').fadeOut(200);
                        $('.ios.box').fadeOut(200);
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>
