<%

function isInLocsId(list, id){
	
	for(var i=0; i < list.length; i++){
		if(id == list[i].id){
		return true;
		}
	}
}

%>

<input type="hidden" name="id" id="id" value="<%= this.id %>" />

<label for="PracticeName">Practice/Hospital:</label><br/>
<select id="PracticeName" name="PracticeName" class='practiceSelect textinput required' multiple="multiple" data-native-menu="false">
    <option value="">Choose a Location</option>
	<%for(var i = 0; i < this.Locs.length ; i++){ %>
		<option <% if(isInLocsId(this.LocsId,this.Locs[i].id)){%> <%= selected = 'selected' %> <%}%> value="<%= this.Locs[i].id %>"><%= this.Locs[i].Name %></option>
	<%}%>  
</select>

<a id="PracticeNew" class="buttonNew" data-icon="plus" data-role="button">New</a><br/>

<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<label data-inline="true" for="title">Title</label>
<input type="text" name="Title" id="Title" class="textinput required" value="<%= this.Title %>" />
<label data-inline="true" for="firstname">First Name:</label>
<input type="text" name="FirstName" id="FirstName" class="textinput required" value ="<%= this.FirstName %>" />
<label data-inline="true" for="surname">Surname:</label>
<input type="text" name="Surname" id="Surname"  class="textinput required" value="<%= this.Surname %>" />
<label data-inline="true" for="number">Number:</label>
<input type="tel" name="Telephone" id="Telephone" class="textinput required" value="<%= this.Telephone %>"   />
<label data-inline="true" for="email">Email:</label>
<input type="email" name="Email" id="Email" class="textinput required email" value="<%= this.Email %>"   />
<label data-inline="true" for="street">Street:</label>
<input type="text" name="Street" id="Street" class="textinput required" value="<%=this.Street%>"  />
<label data-inline="true" for="town">Town:</label>
<input type="text" name="Town" id="Town" class="textinput required" value="<%=this.Town%>" />
<label data-inline="true" for="county">County:</label>
<input type="text" name="County" id="County" class="textinput required" value="<%=this.County%>" />
<label data-inline="true" for="postcode">Post code:</label>
<input type="text" name="Postcode" id="Postcode" class="textinput required" value="<%=this.Postcode%>" />
<label data-inline="true" for="notes">Notes:</label>
<input type="text" name="Notes" id="Notes" value="<%=this.Notes%>" />

<% if (this.id) { %>
<input type="submit" id="newhcpbutton" value="Save Changes" />
<% }else{ %>
<input type="submit" id="newhcpbutton" value="Add Healthcare Professional" />
<% } %>