<input type="hidden" name="id" id="Id" value="<%= this.Id %>" />
<label for="title">Title</label>
<input type="text" name="Title" id="title" class="required" value="<%= this.Title %>" />
<label for="firstname">First Name:</label>
<input type="text" name="FirstName" id="firstname" class="required" value ="<%= this.FirstName %>" />
<label for="surname">Surname:</label>
<input type="text" name="Surname" id="surname"  class="required" value="<%= this.Surname %>" />
<label for="practicename">Practice/Hospital Name:</label>
<input type="text" name="PracticeName" id="practicename"  class="required" value="<%= this.PracticeName %>" />
<label for="number">Number:</label>
<input type="text" name="Telephone" id="number" class="required" value="<%= this.Telephone %>"   />
<label for="street">Street:</label>
<input type="text" name="Street" id="street" class="required" value="<%=this.Street%>"  />
<label for="town">Town:</label>
<input type="text" name="Town" id="town" class="required" value="<%=this.Town%>" />
<input type="submit" id="newhcpbutton" value="Submit" />