<input type="hidden" name="id" id="id" value="<%= this.id %>" />

<label for="practicename">Practice/Hospital:</label>
<select id="PracticeName" name="PracticeName">
    <option value="-1">no location</option>
	<option value="0">add new Hospital/Surgury</option>
	<%for(var i = 0; i < this.Locs.length ; i++){ %>
		<option <% if(this.LocsId == this.Locs[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Locs[i].id %>"><%= this.Locs[i].Name %></option>
	<%}%>     
</select>
<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<label for="title">Title</label>
<input type="text" name="Title" id="Title" class="textinput required" value="<%= this.Title %>" />
<label for="firstname">First Name:</label>
<input type="text" name="FirstName" id="FirstName" class="textinput required" value ="<%= this.FirstName %>" />
<label for="surname">Surname:</label>
<input type="text" name="Surname" id="Surname"  class="textinput required" value="<%= this.Surname %>" />
<label for="number">Number:</label>
<input type="tel" name="Telephone" id="Telephone" class="textinput required" value="<%= this.Telephone %>"   />
<label for="email">Email:</label>
<input type="email" name="Email" id="Email" class="textinput required email" value="<%= this.Email %>"   />
<label for="street">Street:</label>
<input type="text" name="Street" id="Street" class="textinput required" value="<%=this.Street%>"  />
<label for="town">Town:</label>
<input type="text" name="Town" id="Town" class="textinput required" value="<%=this.Town%>" />
<label for="county">County:</label>
<input type="text" name="County" id="County" class="textinput required" value="<%=this.County%>" />
<label for="postcode">Post code:</label>
<input type="text" name="Postcode" id="Postcode" class="textinput required" value="<%=this.Postcode%>" />
<label for="notes">Notes:</label>
<input type="text" name="Notes" id="Notes" value="<%=this.Notes%>" />

<% if (this.id) { %>
<input type="submit" id="newhcpbutton" value="Save Changes" />
<% }else{ %>
<input type="submit" id="newhcpbutton" value="Add Healthcare Professional" />
<% } %>