<label for="title">Title</label>
<input type="text" name="title" id="title" class="required" value="<%=this.Title%>" />
<label for="firstname">First Name:</label>
<input type="text" name="firstname" id="firstname" class="required" value ="<%=this.FirstName%>"/>
<label for="surname">Surname:</label>
<input type="text" name="surname" id="surname" value="" class="required" value="<%=this.Surname%>" />
<label for="practicename">Practice/Hospital Name:</label>
<input type="text" name="practicename" id="practicename"  class="required" value="<%=this.PracticeName%>" />
<label for="number">Number:</label>
<input type="text" name="tel" id="number" class="required" class="required" value="<%=this.Number%>"   />
<label for="street">Street:</label>
<input type="text" name="street" id="street" class="required" value="<%=this.Street%>"  />
<label for="town">Town:</label>
<input type="text" name="town" id="town" class="required" value=""<%=this.Town%>" />
<input type="submit" id="newhcpbutton" value="Submit" />