<label data-inline="true">First name:</label>
<input type="text" name="FirstName" id="FirstName"  class="textinput required" value="<%=this.FirstName%>" placeholder="Compulsory" />

<label data-inline="true">Last name:</label> 
<input type="text" name="LastName" id="LastName"  class="textinput required" value="<%=this.LastName%>" placeholder="Compulsory" />

<label data-inline="true">Email address:</label>
<input type="text" name="EmailAddress" id="EmailAddress"  class="required email" value="<%=this.EmailAddress%>" placeholder="Compulsory" />

<label data-inline="true">Manager's first name:</label>
<input type="text" name="ManagerFirstName" id="ManagerFirstName" value="<%=this.ManagerFirstName%>" placeholder="Optional" />

<label data-inline="true">Manager's last name:</label>
<input type="text" name="ManagerLastName" id="ManagerLastName" value="<%=this.ManagerLastName%>" placeholder="Optional"/>

<label data-inline="true">Manager's email address:</label>
<input type="text"  name="ManagerEmailAddress" id="ManagerEmailAddress" class="email" value="<%=this.ManagerEmailAddress%>" placeholder="Optional"/>

<input type="submit" id="sendemail" data-icon="check" value="Email report(s)" />