
<%for(var i = 0; i < this.length ; i++){ %>	
<h3><div class="overflow"><%= this[i].HcpTitle %> <%= this[i].HcpFirstName %> <%= this[i].HcpSurname %></div> </h3>

<p>
<div class="overflow">
	<strong>Date:</strong> <%=  $.scroller.formatDate('D d M yy', new Date(this[i].StartDateTime)) %> <strong>Time:</strong> <%= $.scroller.formatDate('h:ii A', new Date(this[i].StartDateTime)) %>
</div>
</p>

<% if(this[i].LocationName && this[i].LocationName.length>0){ %>
    <p><div class="overflow"><strong>Location:</strong> <%= this[i].LocationName %></div></p>
<% } %> 

<% if(this[i].TypeName && this[i].TypeName.length>0){ %>
	<p>
	<div class="overflow">
	<strong>Appointment type:</strong>
    <%= this[i].TypeName %>
	</div>
	</p>
<% } %>

<%if(i !== this.length-1){%>
	<hr/>
<%}%>

<%}%> 

<a id="OK" data-role="button" href="../../home/home.htm">OK</a>