@{
    Layout = null;
}
@model ServerSide.ViewModels.MakePdfViewModel 
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Risk Assessments Report</title>       
    </head>
    <body>
         <style type="text/css">
            body {
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
            }

            thead {
                font-size: 14px;
            }

            table, td
            {
                border-color: #b9b9b9;
                border-style: solid;
            }

            table
            {
                border-width: 0 0 1px 1px;
                border-spacing: 0;
                border-collapse: collapse;
            }

            td
            {
                margin: 0;
                padding: 4px;
                border-width: 1px 1px 0 0;
                background-color: #E8EDFF;
            }

            thead tr td.blue{
                background: #B9C9FE;
            }

             thead tr td.blue2 {
                 background: #d2dcfe;
             }

             tr.bluerow td {
                 background: #B9C9FE;
             }

            thead tr td {
                text-align: center;
            }

            .riskrating div {
                width: 33%;
                float: left;
                text-align: center;
            }

            .riskratingdata div {
                width: 33%;
                float: left;
                text-align: center;
            }

            .riskrating {
                border-top-color: #B9C9FE;
            }

            td ul {
                margin: 0;
                padding: 0;
                padding-left: 20px;
            }

            td ul li {
                padding-left: 0px;
            }
            td ul li span { position: relative; left: -5px; }

            .doublecell {
                border-top: 0px;
            }

             
            table tr td.amber {
                background-color: #d2ff4d;
            }

            table tr td.green {
                background-color: #8cff67;
            }

            table tr td.red {
                background-color: #ff3333;
            }

             .key {
                 text-align:center;
                 font-weight:bold;
                 font-size: 16px;
             }

        </style>
        <div id="wrapper">
            <h2>Risk Assessment Report</h2>
            <h4>Site name/Company: @Model.Task.Site</h4>
            @if (!string.IsNullOrEmpty(Model.Task.Company))
            {
                <h4>Company: @Model.Task.Company</h4>
            }
            <h4>Risk assessment by: @Model.Task.AssessorName</h4>
            <table cellspacing="0">
                <thead>
                    <tr>
                        <td class="blue" colspan="2"><strong>Task: </strong></td>
                        <td colspan="2">@Model.Task.Name</td>
                    </tr>
                    <tr>
                        <td class="blue" colspan="2"><strong>Report Identifier:</strong></td>
                        <td colspan="2">@Model.AssessmentNumber</td>
                    </tr>
                    <tr>
                        <td class="blue" colspan="1"><strong>Site:</strong></td>
                        <td colspan="2">@Model.Task.Site @if (!string.IsNullOrEmpty(Model.Task.Company)){<text> (</text>@Model.Task.Company<text>)</text>}</td>
                        <td class="blue" colspan="1"><strong>Assessor:</strong></td>
                        <td colspan="1">@Model.Task.AssessorName</td>
                        <td class="blue" colspan="1"><strong>Created Date:</strong></td>
                        <td colspan="1">@Model.Task.DateStarted.ToString("dd MMM yyyy")</td>
                    </tr>
                    <tr>
                        <td class="blue2"></td>
                        <td class="blue2"></td>
                        <td class="blue2"></td>
                        <td class="blue2"></td>
                        <td class="blue2"><strong>Risk Rating<br/>(L * S)</strong></td>
                        <td class="blue2"></td>
                        <td class="blue2"><strong>New Risk Rating</strong></td>
                    </tr>
                    <tr>
                        <td class="blue2 doublecell"><strong>Hazard</strong></td>
                        <td class="blue2 doublecell"><strong>Who might be harmed</strong></td>
                        <td class="blue2 doublecell"><strong>How might they be harmed</strong></td>
                        <td class="blue2 doublecell"><strong>Existing Controls</strong></td>
                        <td class="blue2 riskrating">
                            <div>L</div>
                            <div>S</div>
                            <div>R</div>
                        </td>
                        <td class="blue2 doublecell"><strong>Further Controls/Actions</strong></td>
                        <td class="blue2 riskrating">
                            <div>L</div>
                            <div>S</div>
                            <div>R</div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assessment in Model.Assessments)
                    {
                        <tr>
                            <td>@assessment.Hazard</td>
                            <td>@assessment.Who</td>
                            <td>@assessment.How @(!string.IsNullOrEmpty(assessment.FurtherDetails) ? "-" + assessment.FurtherDetails : string.Empty)</td>
                            <td>
                                <ul>
                                    @if (assessment.ExistingControls != null)
                                    {
                                        foreach (var existingControl in assessment.ExistingControls.Split('|'))
                                        {
                                            <li><span>@existingControl</span></li>
                                        }
                                    }
                                </ul>
                            </td>
                            <td class="riskratingdata">
                                <div>@assessment.Likelihood</div>
                                <div>@assessment.Severity</div>
                                <div><strong>@(assessment.Likelihood * assessment.Severity)</strong></div>
                            </td>
                            <td>
                                <ul>
                                    @if (assessment.Controls != null)
                                    {
                                        foreach (var furtherControl in assessment.Controls.Split('|'))
                                        {
                                            <li>@furtherControl</li>
                                        }
                                    }
                                </ul>
                            </td>
                            <td class="riskratingdata">
                                <div>@assessment.LikelihoodB</div>
                                <div>@assessment.SeverityB</div>
                                <div><strong>@(assessment.LikelihoodB * assessment.SeverityB)</strong></div>
                            </td>
                        </tr>
                    }
                    <tr class="bluerow">
                        <td rowspan="3" class="key">
                            Key:
                        </td>
                        <td colspan="3">
                            <strong>Likelihood</strong> 1 = Highly unlikely, 2 = Unlikely, 3 = Possible, 4 = Likely, 5 = Certain
                        </td>
                        <td rowspan="3">
                            Risk Rating = L X S (Likelihood X Severity)
                        </td>
                        <td class="green" colspan="2">
                            Low = 1 to 4
                        </td>
                    </tr>
                    <tr class="bluerow">
                        <td colspan="3">
                            <strong>Severity</strong> 1 = No injury, 2 = Minor injury, 3 = Medical treatment, 4 = Reportable, 5 = Major injury/Fatal
                        </td>
                        <td class="amber" colspan="2">
                            Medium = 5 to 11
                        </td>
                    </tr>
                    <tr class="bluerow">
                        <td colspan="3"></td>
                        <td class="red" colspan="2">High = 12 to 25</td>
                    </tr>
                </tbody>
            </table>  
            <h5>eRisk Assessment &copy;, www.eriskapp.co.uk</h5>   
        </div>
    </body>
</html>
