<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<label>Name: </label>
<input type="text" name="Name" id="name" class="textinput required" value="<%= this.Name %>" />

<label>Street: </label>
<input type="text" name="Street" id="Street" value="<%= this.Street %>" />

<label>Town: </label>
<input type="text" name="Town" id="Town" value="<%= this.Town %>" />

<label>County: </label>
<input type="text" name="County" id="County" value="<%= this.County %>" />

<label>Post code: </label>
<input type="text" name="Postcode" id="Postcode" value="<%= this.Postcode %>" />

<label>Telephone: </label>
<input type="tel" name="Telephone" id="Telephone" value="<%= this.Telephone %>" />

<label>Email: </label>
<input type="email" name="Email" id="Email"  class="email" value="<%= this.Email %>" />

<% if (this.id) { %>
<input type="submit" id="newpracticebutton" data-icon="check" value="Save Changes" data-theme="g"/>
<% }else{ %>
<input type="submit" id="newpracticebutton" data-icon="check" value="Add Hospital/GP Surgery" data-theme="g" />
<% } %>