<input id="id" type="hidden" value="<%= this.id %>" />
<li data-theme="d">
  <strong>Name: </strong><%=this.Name%>
</li>
<li  data-theme="d">
	<strong>Address: </strong><%=this.Street%> <%=this.Town%> <%=this.County%> <%=this.Postcode%>
</li>
<li data-theme="d">
  <strong>Telephone: </strong><%=this.Telephone%>
</li>
<li  data-theme="d">
	<strong>Email: </strong><%=this.Email%>
</li>

