<input id="id" type="hidden" value="<%= this.id %>" />
<li data-icon="false">
	<a href="#">
	<div class="overflow">
  <strong>Name: </strong><%=this.Name%>
  </div>
  </a>
</li>

<% if(this.Telephone){ %>
<li>
<a href="tel:<%=this.Telephone%>">
<div class="overflow">
  <strong>Telephone: </strong><%=this.Telephone%>
  </div>
  </a>
</li>
<% } %>

	<% if(this.Email){ %>
<li>

	<a href="mailto:<%=this.Email%>">
	<div class="overflow">
	<strong>Email: </strong><%=this.Email%>
	</div>
	</a> 
</li>
	<% } %>

	<%	var link; 
		var dataIcon =''; 
		if(this.Postcode){
			link = 'http://maps.google.com/maps?q=' + this.Postcode + ', UK';
		}else{
			link = '#';
			dataIcon = 'false';
		}
	 %>

<%if(this.Street || this.Town || this.County || this.Postcode){%>
<li data-icon="<%=dataIcon%>" >
	<a target="_blank" href="<%=link%>">
	<div class="overflow">
	<strong>Address: </strong>
	<%=this.Street%> <%=this.Town%> <%=this.County%> <%=this.Postcode%>
	</div>
	</a>
</li>
<% } %>
