<ul data-inset="true" data-role="listview" id="TreatmentDetailsList">     
	<% if(localStorage.treatmentNhsNumber){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>NHS Number: </strong> <%=localStorage.treatmentNhsNumber%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentHospitalNumber){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>Hospital Number: </strong>  <%=localStorage.treatmentHospitalNumber%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentPsaLevel){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>PSA level(ng/ml) at diagnosis: </strong> <%=localStorage.treatmentPsaLevel%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentBiopsy){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>Number of biopsy samples (cores) taken: </strong>  <%=localStorage.treatmentBiopsy%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentCores){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>Number of cores affected: </strong>  <%=localStorage.treatmentCores%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentGleason){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>Gleason score: </strong> <%=localStorage.treatmentGleason%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentTStage){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>T stage at diagnosis: </strong>  T-<%=localStorage.treatmentTStage%>
		</div>
	  </a>
	</li>
	<%}%>
  
	  <% if(localStorage.treatmentTreatment){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>Treatment: </strong> <%=localStorage.treatmentTreatment%>
		</div>
	  </a>
	</li>
	<%}%>
 
	  <% if(localStorage.treatmentDate){%>
	<li data-icon="false">
	  <a href="#">
		<div class="overflow">
		  <strong>Date treatment started: </strong>  <%=this.date%>
		</div>
	  </a>
	</li>
	 <%}%>
</ul>