<div data-role="header">
	<h1><%=this.item(0).FirstName%> <%=this.item(0).Surname%></h1>
</div>

<div data-role="content">
    <ul data-inset="true" data-role="listview">
        <li><strong>Telephone: </strong><%=this.item(0).Telephone%></li>
        <li><strong>Email: </strong>sarah.westminster@nhs.co.uk</li>
        <li><strong>Hospital/Practice Name: </strong> <%=this.item(0).PracticeName%></li>
        <li><strong>Address: </strong><%=this.item(0).Street%>, <%=this.item(0).Town%></li>
    </ul>
</div>
<div data-role="footer" data-position="fixed" class="tabBarContainer">
</div>