<input id="id" type="hidden" value="<%= this.id %>" />
<li>
	<a href="tel:<%=this.Telephone%>">
  <strong>Telephone: </strong><%=this.Telephone%>
	</a>
</li>
<li>
	<a href="mailto:<%=this.Email%>">
		<strong>Email: </strong><%=this.Email%>
	</a>
</li>
<li>
	<a>
		<strong>Hospital/Practice Name: </strong> <%=this.PracticeName%>
	</a>
</li>

<li>
	<a id="AddressLink">
	Address: <%=this.Street%>, <%=this.Town%>, <%=this.County%>, <%=this.Postcode%>
	</a>
</li>

