<input id="id" type="hidden" value="<%= this.id %>" />

<li data-icon="false">
	<a href="#">
	<div class="overflow">
		<strong>Name: </strong><%=this.Title%> <%=this.FirstName%> <%=this.Surname%>
		</div>
	</a>
</li>

<li data-icon="false">
	<a href="#" >
	<div class="overflow">
		<strong>Job Role: </strong><%=this.JobRole%>
		</div>
	</a>
</li>

<li>
	<a href="tel:<%=this.Telephone%>">
	<div class="overflow">
  <strong>Telephone: </strong><%=this.Telephone%>
  </div>
	</a>
</li>
<li>
	<a href="mailto:<%=this.Email%>">
		<div class="overflow">
		<strong>Email: </strong><%=this.Email%>
		</div>
	</a>
</li>

<li>
	<a href=<%="../hcp/practicedetails.htm?id="+this.PrimaryPracticeId %> >
		<div class="overflow">
		<strong>Primary Hospital/Surgery: </strong> <%=this.PrimaryPracticeName%>
		</div>
	</a>
</li>

<% if(this.PrimaryPracticePostcode){ %>
<% var link = "http://maps.google.com/maps?q=" + this.PrimaryPracticePostcode + ", UK"; %>
<li>
	<a target="_blank" href= "<%=link%>" >
	<div class="overflow">
	Touch for directions to <%=this.PrimaryPracticeName%>
	</div>
	</a>
</li>
<% } %>

<li>
	<a href=<%="../hcp/practicedetails.htm?id="+this.SecondaryPracticeId %> >
		<div class="overflow">
		<strong>Secondary Hospital/Surgery: </strong> <%=this.SecondaryPracticeName%>
		</div>
	</a>
</li>

<% if(this.SecondaryPracticePostcode){ %>
<% var link = "http://maps.google.com/maps?q=" + this.SecondaryPracticePostcode + ", UK"; %>
<li>
	<a target="_blank" href= "<%=link%>" >
	<div class="overflow">
	Touch for directions to <%=this.SecondaryPracticeName%>
	</div>
	</a>
</li>
<% } %>

<li data-icon="false">
	<a >
	<div class="overflow">Notes: <%=this.Notes%></div>
	</a>
</li>

