<% if( this.length < 1 ){ %>
	
	<li>
		You have reported no symptoms. To add one, press 'new' on the top right.
	</li>

<% }else{ %>

<%for(var i = 0; i < this.length ; i++){ %>
	<li>
		<a href="./symptomedit.htm?id=<%=this[i].id %>">
			<div>
				<%=$.scroller.formatDate('D d M yy HH:ii A', this[i].DateTime) %>
			</div>
			<div>
				<h2><%=this[i].Description%><h3>
			</div>
			<div>
				Warning Sign?  <%if(this[i].WarningSign === 1){%> <%='Yes'%> <%}else{%> <%='No'%> <%}%>
			</div>
		</a>
	</li>
<%}}%>