<% if( this.length < 1 ){ %>
	
	<li>
		You have reported no symptoms. To add one, press 'new' on the top right.
	</li>

<% }else{ %>

<%for(var i = 0; i < this.length ; i++){ %>
	<li>
		<a href="./symptomedit.htm?id=<%=this[i].id %>">
			<div>
				<%=$.scroller.formatDate('D d M yy', this[i].Date) %>, <%=this[i].Time %>
			</div>
			<div>
				<h2><%=this[i].Description%><h3>
			</div>
			<div>
				<%=this[i].WarningSign%>
			</div>
		</a>
	</li>
<%}}%>