<%for(var i = 0; i < this.length ; i++){ %>
	<li>
		<a href="./symptomedit.htm?Id=<%=this[i].Id %>">
			<div>
				<%=this[i].getFormatedDate()%>, <%=this[i].getFormatedTime()%>
			</div>
			<div>
				<h2><%=this[i].Description%><h3>
			</div>
			<div>
				<%=this[i].WarningSign%>
			</div>
		</a>
	</li>
<%}%>