<%
var currentdate = null;
%>

<% if( this.length < 1 ){ %>
	
	<li data-role="list-divider">
		You have reported no symptoms. To add one, press 'new' on the top right.
	</li>

<% }else{ %>

<%for(var i = 0; i < this.length ; i++){ %>	
<%
var compare = new Date(this[i].DateTime);

compare.setHours(0);
compare.setSeconds(0);
compare.setMinutes(0);
compare.setMilliseconds(0);

if(currentdate!==compare.getTime()){
currentdate=compare.getTime();
%>
<li data-role="list-divider"><%= $.scroller.formatDate('D d M yy', this[i].DateTime) %></li>
<% } %>
<li>
	<a href="symptomedit.htm?id=<%= this[i].id %>">
		<h3><%= this[i].Description %></h3>
		<p>Warning Sign?  <%if(this[i].WarningSign === 1){%> <%='Yes'%> <%}else{%> <%='No'%> <%}%></p>
		<p class="ui-li-aside"><strong><%= $.scroller.formatDate('D d M yy h:ii A', this[i].DateTime) %></strong></p>
	</a>
</li>
<%}}%> 