<% if (this.id) { %>
<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<% } %>
<label class="bigLabel">Healthcare Professional:</label>
<select class="ddl textinput required" id="HcpId" name="HcpId">
    <option value="">Select HCP</option>
	<%for(var i = 0; i < this.Hcps.length ; i++){ %>
		<option <% if(this.HcpId == this.Hcps[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Hcps[i].id %>"><%= this.Hcps[i].FullName() %></option>
	<%}%>
	<option value="-1">Add new</option>     
</select>
<label>Location:</label>
<select class="ddl" id="HealthcareLocationId" name="HealthcareLocationId">
    <option value="">Select Hospital/Surgery</option>
	<%for(var i = 0; i < this.Locs.length ; i++){%>
		<option <% if(this.LocsId == this.Locs[i].id){ %> <%= selected = 'selected' %> <%}%> value="<%= this.Locs[i].id %>"><%= this.Locs[i].Name %></option>
	<%}%>   
	<option value="-1">Add new</option>  
</select>
<label>Type:</label>
<select class="ddl" id="TypeId" name="TypeId">
    <option value="">Select Appointment Type</option>
    <%for(var i = 0; i < this.Types.length ; i++){ %>	
    <option <% if(this.TypeId == this.Types[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Types[i].id %>"><%= this.Types[i].Name %></option>
    <%}%>
	<option id="OtherAppointmentType" value="-1">Add new</option>
</select>
<input type="hidden" name="StartDateTime" id="StartDateTime" value="<%= this.StartDateTime ? this.StartDateTime.getTime() : '' %>" />
<label>Date:</label>
<input name="_StartDate" id="StartDate" placeholder="Click to select date" class="mustBeInFuture textinput required" value="<%= $.scroller.formatDate('dd M yy', this.StartDateTime) %>"/>

<label>Time:</label>
<input name="_StartTime" id="StartTime" placeholder="Click to select time" class="mustBeInFuture textinput required" value="<%= $.scroller.formatDate('HH:ii', this.StartDateTime) %>"/>

<label>Alerts?</label>
<select class="switch" id="AlertsEnabled" data-role="slider" name="AlertsEnabled">
    <option value="0" <% if(this.AlertsEnabled === 0){%> <%= selected = 'selected' %> <%}%>>No</option>
	<option value="1" <% if(this.AlertsEnabled === 1){%> <%= selected = 'selected' %> <%}%>>Yes</option>
</select>
<p><i>NB. Alerts will remind you of your next appointment every time you open the app. The app does not currently support integration with your phone's calendar. Please remember to back up your phone regularly.</i></p>

<% if (this.id) { %>
<input type="submit" id="newappointmentbutton" data-icon="check" value="Save Changes" data-icon="check" data-theme="g" />
<% }else{ %>
<input type="submit" id="newappointmentbutton" data-icon="check" value="Add Appointment" data-icon="plus" data-theme="g" />
<% } %>