<% if (this.id) { %>
<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<% } %>
<label for="HcpId">HCP</label>
<select class="ddl" id="HcpId" name="HcpId">
    <option value="-1">no HCP</option>
	<option value="0">add new HCP</option>
	<%for(var i = 0; i < this.Hcps.length ; i++){ %>
		<option <% if(this.HcpId === this.Hcps[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Hcps[i].id %>"><%= this.Hcps[i].FullName() %></option>
	<%}%>     
</select>
<label for="HealthcareLocationId">Location:</label>
<select class="ddl" id="HealthcareLocationId" name="HealthcareLocationId">
    <option value="-1">no location</option>
	<option value="0">add new Hospital/Surgury</option>
	<%for(var i = 0; i < this.Locs.length ; i++){ %>
		<option <% if(this.LocsId === this.Locs[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Locs[i].id %>"><%= this.Locs[i].Name %></option>
	<%}%>     
</select>
<label for="TypeId">Type:</label>
<select class="ddl" id="TypeId" class="required" name="TypeId">
    <option value="">select appointment type</option>
    <%for(var i = 0; i < this.Types.length ; i++){ %>	
    <option <% if(this.TypeId === this.Types[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Types[i].id %>"><%= this.Types[i].Name %></option>
    <%}%> 
</select>
<label for="StartDate">Date:</label>
<input type="text" id="StartDate" placeholder="Click to select date" class="required" name="StartDate" value="<%= $.scroller.formatDate('dd M yy', this.StartDate) %>"/>

<label for="StartTime">Time:</label>
<input type="text" id="StartTime" placeholder="Click to select time" class="required" name="StartTime" value="<%= this.StartTime %>"/>

<label for="AlertsEnabled">Alerts:</label>
<select class="switch" id="AlertsEnabled" data-role="slider" name="AlertsEnabled">
    <option value="0" <% if(this.AlertsEnabled === 0){%> <%= selected = 'selected' %> <%}%>>Off</option>
	<option value="1" <% if(this.AlertsEnabled === 1){%> <%= selected = 'selected' %> <%}%>>On</option>
</select>
<p><i>NB. Alerts will remind you of your next appointment every time you open the app. The app does not currently support integration with your phone's calendar.</i></p>

<% if (this.id) { %>
<input type="submit" id="newaapointmentbutton" value="Save Changes" />
<% }else{ %>
<input type="submit" id="newaapointmentbutton" value="Add Appointment" />
<% } %>