<input type="hidden" name="id" id="Id" value="<%= this.Id %>" />
<label for="HcpId">HCP</label>
<select name="HcpId">
    <option value="-1">no HCP</option>
	<option value="0">add new HCP</option>
	<%for(var i = 0; i < this.Hcps.length ; i++){ %>
		<option value="<%= this.Hcps[i].Id %>"><%= this.Hcps[i].FullName() %></option>
	<%}%>     
</select>
<label for="AppointmentLocationId">Location:</label>
<select name="AppointmentLocationId">
    <option value="-1">no location</option>
	<option value="0">add new Hospital/Surgury</option>
	<%for(var i = 0; i < this.Locs.length ; i++){ %>
		<option value="<%= this.Locs[i].Id %>"><%= this.Locs[i].Name %></option>
	<%}%>     
</select>
<label for="AppointmentTypeId">Type:</label>
<select id="AppointmentTypeId">
	<option value="0">select appointment type</option>
	<%for(var i = 0; i < this.Types.length ; i++){ %>	
		<option value="<%= this.Types[i].Id %>"><%= this.Types[i].Name %></option>
	<%}%> 
</select>
<input type="submit" id="newaapointmentbutton" value="Submit" />