<p>Hi @ViewData["Name"], </p>

<p>
   Please find the following risk assessment report attached to this email:<br />
   Task name: @ViewData["TaskName"] <br />
   Site: @ViewData["Site"] <br />
   Assessor Name: @ViewData["Name"] <br />
   Date Completed: @ViewData["Date"]
</p>

<p>
    Regards,<br />
    The 'Risk Aware' Team
</p>


