<% if (this.id) { %>
<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<% } %>

<label>Date:</label>
<input type="text" id="Date" placeholder="Click to select date" class="textinput required" name="_Date" value="<%= $.scroller.formatDate('dd M yy', this.DateTime) %>" />
<label>Time:</label>
<input type="text" id="Time" placeholder="Click to select time" class="textinput required" name="_Time" value="<%= $.scroller.formatDate('HH:ii', this.DateTime) %>"" />

<div id="symptoms-radio-list" data-role="fieldcontain">
    <fieldset data-role="controlgroup" class="required textinput" name="SymptomId" id="SymptomId">
		<legend>Select a symptom from the list below:</legend>
		<%for(var i = 0; i < this.Symptoms.length ; i++){ %>
		<input type="radio" name="SymptomId" id="<%=this.Symptoms[i].id%>" value="<%= this.Symptoms[i].id%>" <% if(this.SymptomId == this.Symptoms[i].id){%> <%= checked = 'checked' %> <%}%> />
        <label class="lbl100" for="<%=this.Symptoms[i].id%>"><%= this.Symptoms[i].Description %></label>
		<%}%>
		<input class="new" type="radio" name="SymptomId" id="radio-choice-a" value="choice-0" />
        <label class="lbl100" for="radio-choice-a">Add new</label>
	</fieldset>
</div>

<input type="submit" id="submitsymptombutton" value="Record Symptom" data-icon="check" data-theme="g" />

<input type="hidden" name="DateTime" id="DateTime" value="<%= this.DateTime ? this.DateTime.getTime() : '' %>" data-theme="g" />