<% if (this.id) { %>
<input type="hidden" name="id" id="id" value="<%= this.id %>" />
<% } %>
<label for="SymptomId">Symptom:</label>
<select id="SymptomId" name="SymptomId">
	<%for(var i = 0; i < this.Symptoms.length ; i++){ %>
		<option <% if(this.SymptomId === this.Symptoms[i].id){%> <%= selected = 'selected' %> <%}%> value="<%= this.Symptoms[i].id %>"><%= this.Symptoms[i].Description %></option>
	<%}%>     
</select>
<label for="Date">Date:</label>
<input type="text" id="Date" placeholder="Click to select date" class="required" name="Date" value="<%= $.scroller.formatDate('dd M yy', this.Date) %>" />
<label for="Time">Time:</label>
<input type="text" id="Time" placeholder="Click to select time" class="required" name="Time" value="<%= this.Time %>" />
<input type="submit" id="submitsymptombutton" value="Record Symptom" />