<?xml version="1.0" encoding="Windows-1252"?>
<ul id="MyAssessmentsList" data-filter="true" data-split-icon="delete" data-filter-placeholder="Search for an assessment" data-role="listview">
  <%if(this.length < 1){ %>
  
  <li data-role="list-divider">
    There are currently no risk assessments recorded for <span class="task"></span>
  </li>
    
  <%}else{ %>

  <li id="divider" data-role="list-divider">
  </li> 
    
  <%for(var i = 0; i < this.length; i++){ %>
  <li>
    <a class="assessment-item" id="<%=this[i].id%>">
      <h3>
        <%=this[i].Hazard%>
      </h3>
      <p>
        <strong>Who:</strong> <%= this[i].Who %>
      </p>
      <p>
        <strong>How:</strong> <%= this[i].How %> <%if(this[i].FurtherDetails){%> - <%= this[i].FurtherDetails %><%}%>
      </p>
      <% if(this[i].Controls){ %>
        <p>
          <STRONG>Further Controls:</STRONG>
           <%for(var k = 0; k < this[i].Controls.split("|").length; k++){%>
             <br/>
             <span>&bull;</span>
             <%=this[i].Controls.split("|")[k]%>
           <%}%>
        </p>  
      <%}%>
      </p>
    </a>
    <a href="dialog/deleteConfirm.htm" data-rel="dialog" id="<%=this[i].id%>" class="delete"> 
    </a>
  </li>
  <%}}%>
</ul>
<br/>
<p>
  <a data-role="button" data-icon="plus" class="addToExisting" href="hazards.htm">Add another assessment</a>
  <a data-role="button" data-icon="forward" class="emailReport">Email report for <span class="task"></span></a>
</p> 
 
